.container {
    display: grid;
    grid-template-areas:
                            "header header header"
                            "left right right"
                            "footer footer footer"
;
    gap: 15px;

}
.header {
    grid-area: header;
    background-color: darkmagenta;
    padding: 15px;
}
.left {
    grid-area: left;
    background-color: chocolate;
    padding: 15px;
}
.right {
    grid-area: right;
    background-color: greenyellow;
    padding: 15px;
}
.footer {
    grid-area: footer;
    background-color: indianred;
    padding: 15px;
}
